# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# FAISS
data/faiss/

# Uploaded Files
data/uploads/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db